body {
  background-color: antiquewhite;
  background-image: url("../img/èŠ±.jfif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1 {
  color: red;
  border: 2px solid rgb(168, 60, 172);
  font-size: 200%;
  text-align: center;
}
p {
  background-color: rgb(124, 139, 67);
  text-align: center;
}

.p1 {
  color: yellow;
  font-size: 120%;
}

.p2 {
  color: goldenrod;
  font-size: 120%;
}

.note {
  color: greenyellow;
  font-size: 200%;
}

header {
  background-color: rgb(201, 118, 118);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.section {
  display: flex;
}

section > div {
  text-align: center;
}

.side {
  display: flex;
  flex: 30%;
  flex-direction: column;
}
.side > .side_img {
  flex: 80%;
}
.side > .side_statements {
  flex: 20%;
  background-color: lightcoral;
}
.article {
  flex: 70%;
  font-size: 1vw;
  background-color: #f1f1f1;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: 60%;
  }
}
